@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: 1px solid white;
} */

body {
    height: 100vh;
}

.ql-editor{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 1.05rem;
}

.post-content p{
    margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    margin: 1.5rem 0;
}

.post-content ol li{
    list-style-type: decimal;
}

.post-content li{
    list-style-type: disc;
}

.tiptap.ProseMirror{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Nunito';
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    
}

.text-marquee{
    color: #141414;
    -webkit-text-stroke: 1.5px #f5f5f4;
}